* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(77, 77, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contenedor {
  width: 90vw;
  max-width: 920px;
  height: 45vh;
  position: relative;
  background: linear-gradient(#87d6c7, #ffe2d1);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.dino {
  width: 10vw;
  max-width: 84px;
  height: 10vw;
  max-height: 84px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 2;
  background: url("./img/dino.png") repeat-x 0 0;
  background-size: 336px 84px;
}

.dino-corriendo {
  animation: animarDino 0.25s steps(2) infinite;
}

.dino-estrellado {
  background-position-x: -252px;
}

.suelo {
  width: 200%;
  height: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("./img/suelo.png") repeat-x;
  background-size: 50% 100%;
}

.score {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 10;
  color: #d48872;
  font-family: Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
}

.cactus {
  width: 6vw;
  max-width: 46px;
  height: 12vh;
  position: absolute;
  bottom: 10%;
  background: url("./img/cactus1.png") no-repeat;
  background-size: contain;
  z-index: 1;
}

/* 🌥️ Nubes */
.nube {
  width: 12vw;
  max-width: 92px;
  height: 4vh;
  position: absolute;
  top: 10%;
  background: url("./img/nube.png") no-repeat;
  background-size: contain;
  opacity: 0.8;
  z-index: 0;
}

.game-over {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  color: #7e928b;
  font-size: 2rem;
  font-family: Verdana, sans-serif;
  font-weight: 700;
  top: 40%;
}

@keyframes animarDino {
  from {
    background-position-x: -84px;
  }
  to {
    background-position-x: -252px;
  }
}

